---
import MainLayout from "../layout/Layout.astro";
---

<MainLayout title="Home Page">
  <div class="flex flex-col gap-6 max-w-6xl mx-auto items-center mt-52">
    <h1 class="text-3xl font-bold">My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <a href="/user" class="px-4 py-2 rounded-lg bg-[#849FFF] text-white"> Go </a>
  </div>
</MainLayout>
